@mixin clearFix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin centerElement {
    & {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


// MEDIA QUERY MANAGER

/*
0-600px : PHONE
600-900px : Tablet Portrait
900-1200px : Tablet Landscape
1200-1800px : Where our Normal Styles apply
1800 + : Big Screen
*/


/*
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

// 1em = 16px
@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 37.5em) {
            // 600px
            @content;
        }
    }

    @if $breakpoint==tab-port {
        @media (max-width: 56.25em) {
            // 900px
            @content;
        }
    }

    @if $breakpoint==tab-land {
        @media (max-width: 75em) {
            // 1200px
            @content;
        }
    }

    @if $breakpoint==big-desktop {
        @media (max-width: 112.5em) {
            // 1800px
            @content;
        }
    }
}